---
interface Props {
    id: string,
    question: string,
    answer: string
}

const {id, question, answer} = Astro.props;
---

<h2 id=`accordion-flush-heading-${id}`
    itemscope
    itemprop="mainEntity"
    itemtype="https://schema.org/Question">
    <button type="button"
            itemprop="name"
            class="flex items-center w-full p-5 font-medium bg-rose-400 text-left text-white border border-gray-200 dark:border-gray-700 dark:text-gray-400 hover:bg-white hover:text-rose-500 hover:ring-1 ring-rose-500  dark:hover:bg-gray-800"
            data-accordion-target=`#accordion-flush-body-${id}` aria-expanded="false"
            aria-controls=`accordion-flush-body-${id}`>
        {question}
    </button>
</h2>
<div id=`accordion-flush-body-${id}` class="hidden" aria-labelledby=`accordion-flush-heading-${id} itemprop="acceptedAnswer"`>
    <div class="p-5 border border-t-0 border-gray-200 dark:border-gray-700"
         itemscope
         itemprop="text"
         itemtype="https://schema.org/Answer">
        <p class="text-rose-950">{answer}</p>
    </div>
</div>
