---
import {Language} from "../types/Language";
import LanguageDropdown from "./LanguageDropdown.astro";
import {consoleLogDestination} from "astro/dist/core/logger/console";
interface Props {
    languages: Language[];
    redirect: String | null;
    tiktokButtonTitle: String;
    facebookButtonTitle: String;
    instagramButtonTitle: String;
    languageButtonTitle: String;
}
const {
    languages,
    redirect,
    tiktokButtonTitle,
    facebookButtonTitle,
    instagramButtonTitle,
    languageButtonTitle
} = Astro.props
---
<nav class="bg-white border-gray-200 shadow-sm dark:bg-gray-900 dark:border-gray-700">
    <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto px-3 pt-2.5 pb-3.5 md:px-6">
        <button id="feature" data-dropdown-toggle="dropdownFeature"
                class="flex md:p-0 md:w-48 items-center justify-between p-2 text-pink-900 rounded-lg hover:bg-rose-400 hover:text-white md:hover:bg-transparent md:border-0 md:hover:text-rose-500 dark:text-white md:dark:hover:text-blue-500 dark:focus:text-white dark:border-gray-700 dark:hover:bg-gray-700 md:dark:hover:bg-transparent">
            <span class="sr-only">Open main menu</span>
            <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                 viewBox="0 0 17 14">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="M1 1h15M1 7h15M1 13h15"/>
            </svg>
        </button>

        <div id="dropdownFeature"
             class="z-10 w-full sm:w-56 hidden font-normal bg-white divide-y divide-gray-100 rounded-lg shadow dark:bg-gray-700 dark:divide-gray-600">
            <ul class="text-sm rounded-lg shadow text-gray-700 dark:text-gray-400 p-2"
                aria-labelledby="dropdownLargeButton">
                <li>
                    <a href="/tiktok"
                       class="block rounded-lg px-4 py-2 hover:bg-rose-300 text-rose-500 hover:text-white dark:hover:bg-gray-600 dark:hover:text-white">
                        {tiktokButtonTitle}</a>
                </li>
                <!--<li>-->
                <!--      <a href="/instagram"-->
                <!--       class="block rounded-lg px-4 py-2 hover:bg-rose-300 text-rose-500 hover:text-white dark:hover:bg-gray-600 dark:hover:text-white">-->
                <!--        {facebookButtonTitle}</a>-->
                <!--</li>-->
                <!--<li>-->
                <!--      <a href="/facebook"-->
                <!--       class="block rounded-lg px-4 py-2 hover:bg-rose-300 text-rose-500 hover:text-white dark:hover:bg-gray-600 dark:hover:text-white">-->
                <!--        {instagramButtonTitle}</a>-->
                <!--</li>-->
            </ul>
        </div>

        <a href="/"><span
                class="self-center text-2xl sm:text-3xl font-bold whitespace-nowrap text-pink-900 dark:text-white">Blessing<span
                class="text-rose-500">Save</span></span></a>

        <button data-collapse-toggle="language" type="button"
                class="inline-flex items-center p-1 justify-center text-sm text-pink-900 rounded-lg md:hidden hover:bg-rose-400 hover:text-white focus:outline-none dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
                aria-controls="language" aria-expanded="false">
            <span class="sr-only">Open main menu</span>
            <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
                 aria-hidden="true">
                <path d="M12 2C6.477 2 2 6.477 2 12s4.477 10 10 10 10-4.477 10-10S17.523 2 12 2zm6.931 8.163h-3.273a15.985 15.985 0 0 0-1.246-4.59 8.003 8.003 0 0 1 4.519 4.59zM12 4.055a14.03 14.03 0 0 1 1.629 6.108H10.37A14.03 14.03 0 0 1 12 4.055zM4.069 10.163h3.273a15.985 15.985 0 0 0 1.246-4.59 8.003 8.003 0 0 1-4.519 4.59zM8.48 8.056A14.03 14.03 0 0 1 10.37 10.1H6.746a14.03 14.03 0 0 1 1.734-2.044zM12 19.945a14.03 14.03 0 0 1-1.629-6.108h3.258A14.03 14.03 0 0 1 12 19.945zM19.931 13.837h-3.273a15.985 15.985 0 0 0-1.246 4.59 8.003 8.003 0 0 1 4.519-4.59zM12 21.945a8.003 8.003 0 0 1-4.519-4.59h9.038A8.003 8.003 0 0 1 12 21.945zm-6.931-4.59a15.985 15.985 0 0 0 1.246-4.59H4.069a8.003 8.003 0 0 1 4.519 4.59zM15.52 15.944a14.03 14.03 0 0 1-1.891 2.045h3.623a14.03 14.03 0 0 1-1.732-2.045z"/>
            </svg>
        </button>
        <div class="hidden w-full md:block md:w-auto" id="language">
            <ul class="flex flex-col font-medium md:p-0 mt-4 border sm:border-0 rounded-lg md:space-x-8 rtl:space-x-reverse md:mt-0">
                <li>
                    <button id="dropdownNavbarLink" data-dropdown-toggle="dropdownNavbar"
                            class="flex font-semibold text-base sm:text-xl items-center justify-between md:justify-end border-0 bg-rose-400 md:bg-transparent w-full py-2 px-3 text-white md:text-pink-900 rounded-lg hover:bg-white hover:text-rose-500 hover:ring-1 ring-pink-500 md:hover:ring-0 md:border-0 md:hover:text-rose-500 md:p-0 md:w-48 dark:text-white md:dark:hover:text-blue-500 dark:focus:text-white dark:border-gray-700 dark:hover:bg-gray-700 md:dark:hover:bg-transparent">
                        {languageButtonTitle}
                    </button>

                   <LanguageDropdown languages={languages} redirect={redirect}/>
                </li>
            </ul>
        </div>
    </div>
</nav>
