---
import SEOTitle from "./SEOTitle.astro";
import SEOContent from "./SEOContent.astro";
import FAQItem from "./FAQItem.astro";

class FAQItemModel {
    id: string;
    question: string;
    answer: string
}

class Introduce {
    title: string;
    content: string;
}

interface Props {
    firstIntroduce: Introduce;
    secondIntroduce: Introduce;
    featuresTitle: String;
    featuresContents: String[];
    FAQTitle: String;
    FAQItems: FAQItemModel[]
}
const {
    firstIntroduce,
    secondIntroduce,
    featuresTitle,
    featuresContents,
    FAQTitle,
    FAQItems
} = Astro.props;
---
<main>
    <div class="mx-auto my-10 px-3 py-5 lg:px-36">
        <SEOTitle content={firstIntroduce.title}/>
        <SEOContent content={firstIntroduce.content}/>

        <SEOTitle content={secondIntroduce.title}/>
        <SEOContent content={secondIntroduce.content}/>

        <SEOTitle content={featuresTitle}/>
        {featuresContents && featuresContents.map((item: any) => (
                <SEOContent content={item}/>
        ))}

        <SEOTitle content={FAQTitle}/>
        <div id="accordion-flush"
             data-accordion="collapse"
             itemscope
             itemtype="https://schema.org/FAQPage">
            {FAQItems && FAQItems.map((item: FAQItemModel) => (
                    <FAQItem
                            id={item.id}
                            question={item.question}
                            answer={item.answer}
                    />
            ))}
        </div>
    </div>
</main>
