---
interface Props {
    lang: string;
    site: string;
    title: string;
    description: string
}

const {lang, site, title, description} = Astro.props;
const image = "/logo.webp";
---

<!doctype html>
<html lang={lang}>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
    <meta name="google" content="notranslate"/>
    <meta name="robots" content="index, follow"/>

    <meta name="google-adsense-account" content="ca-pub-2654786155149859">
    <script
            data-checked-head="true"
            async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2654786155149859"
            crossorigin="anonymous"></script>

    <meta itemprop="image" content=""/>
    <title>{title}</title>
    <meta name="description" content={description}/>
    <link rel="icon" type="image/svg+xml" href={image}/>

    <meta name="twitter:card" content={site}/>
    <meta name="twitter:title" content={title}/>
    <meta name="twitter:description" content={description}/>
    <meta name="twitter:image:src" content={image}/>
    <meta name="twitter:site" content={site}/>

    <meta property="og:title" content={title}/>
    <meta property="og:type" content="article"/>
    <meta property="og:image" content={image}/>
    <meta property="og:description" content={description}/>
    <meta property="og:site_name" content={site}/>

    <link rel="apple-touch-icon" sizes="192x192" href={image}/>
    <link rel="shortcut icon" sizes="192x192" href={image}/>

    <link rel="alternate" hreflang="x-default" href={site}/>
    <link rel="canonical" href={site}/>
    <link rel="alternate" hreflang="br" href={`${site}/br`}/>
    <link rel="alternate" hreflang="cn" href={`${site}/cn`}/>
    <link rel="alternate" hreflang="cz" href={`${site}/cz`}/>
    <link rel="alternate" hreflang="de" href={`${site}/de`}/>
    <link rel="alternate" hreflang="en" href={`${site}/en`}/>
    <link rel="alternate" hreflang="es" href={`${site}/es`}/>
    <link rel="alternate" hreflang="fr" href={`${site}/fr`}/>
    <link rel="alternate" hreflang="id" href={`${site}/id`}/>
    <link rel="alternate" hreflang="il" href={`${site}/il`}/>
    <link rel="alternate" hreflang="in" href={`${site}/in`}/>
    <link rel="alternate" hreflang="ir" href={`${site}/ir`}/>
    <link rel="alternate" hreflang="it" href={`${site}/it`}/>
    <link rel="alternate" hreflang="jp" href={`${site}/jp`}/>
    <link rel="alternate" hreflang="kr" href={`${site}/kr`}/>
    <link rel="alternate" hreflang="my" href={`${site}/my`}/>
    <link rel="alternate" hreflang="nl" href={`${site}/nl`}/>
    <link rel="alternate" hreflang="pl" href={`${site}/pl`}/>
    <link rel="alternate" hreflang="ro" href={`${site}/ro`}/>
    <link rel="alternate" hreflang="ru" href={`${site}/ru`}/>
    <link rel="alternate" hreflang="sa" href={`${site}/sa`}/>
    <link rel="alternate" hreflang="se" href={`${site}/se`}/>
    <link rel="alternate" hreflang="th" href={`${site}/th`}/>
    <link rel="alternate" hreflang="tr" href={`${site}/tr`}/>
    <link rel="alternate" hreflang="vi" href={`${site}/vi`}/>

    <meta name="generator" content={Astro.generator}/>
    <link rel="stylesheet" href="/stylesheet/styles.css"/>
    <script src="../../node_modules/flowbite/dist/flowbite.min.js"></script>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-VTRLS6GNTH"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());
        gtag('config', 'G-VTRLS6GNTH');
    </script>

    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2654786155149859"
            crossorigin="anonymous"></script>
</head>
<body class="w-screen h-screen overflow-hidden ">
<slot/>
</body>
</html>

